<div class="backTopNav">
    <app-navbar-component></app-navbar-component>

    <div id="container">

        <div id="content">

            <!-- put new button: Add Employee -->

            <input type="button" value="Add Employee" routerLink="/employee/add" class="add-button" />

            <!--  add our html table here -->

            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Hire Date</th>
                    <th>Salary</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let employee of employees | async">
                    <td> {{ employee.firstName }} </td>
                    <td> {{ employee.lastName }} </td>
                    <td> {{ employee.gender }}</td>
                    <td> {{ employee.age }}</td>
                    <td> {{ employee.email }}</td>
                    <td> {{ employee.phoneNumber }}</td>
                    <td> {{ employee.hireDate }} </td>
                    <td> {{ employee.salary }} </td>
                    <td> {{ employee.departmentId.name }} </td>

                    <td>
                        <!-- display the update link -->
                        <a routerLink="/employee/update/{{ employee.employeeId }}">Update</a>
                        
                        <a (click)="handleDelete(employee.employeeId)">Delete</a>
                    </td>

                </tr>
            </table>
        </div>
    </div>

</div>
<app-footer-component></app-footer-component>
