<div class="backTopNav">

    <app-navbar-component></app-navbar-component>

    <div id="container">
        <form class='formDiv' [formGroup]="postDepartmentForm" (ngSubmit)="handleSubmit()" method="POST">
            <div class='formFieldBanner'>
                <h3>Create Department</h3>
            </div>
            <div class='formField'>
                <table>
                    <tbody>
                        <tr>
                            <td><label>Department Name:</label></td>
                            <td><input class="input-field" type="text" placeholder="Department Name"
                                    name="name" formControlName="name"></td>
                        </tr>

                        <tr>
                            <td><label>Is Regular:</label></td>
                            <td>
                                <select name="isRegular" formControlName="isRegular" id="isRegular">
                                    <option value="R">Regular</option>
                                    <option value="S">Self</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td><label>HOD:</label></td>
                            <td><input class="input-field" type="text" placeholder="HOD" name="creatorName" formControlName="creatorName"></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <input type="button" value="Cancel" class="save"
                                    onClick="location.href='/department/list'" />
                                <input type="submit" value="Save" class="save" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<app-footer-component></app-footer-component>
