<div class="backTopNav">
    
    <app-navbar-component></app-navbar-component>

    <div id="container">

        <div id="content">



            <!-- put new button: Add Customer -->

            <input type="button" value="Add Department"
                routerLink='/department/add' class="add-button" />

            <!--  add our html table here -->

            <table>
                <tr>
                    <th>Department Name</th>
                    <th>HOD</th>
                    <th>IS Regular</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let department of departments | async" >
                    <td> {{ department.name }} </td>
                    <td> {{ department.creatorName }} </td>
                    <td> YES </td>

                    <td>
                        <!-- display the update link -->
                        <a routerLink="/department/update/{{ department.number }}">Update</a>
                        |
                        <a (click)="deleteDepartment(department.number)">Delete</a>
                    </td>

                </tr>
            </table>

        </div>

    </div>

</div>
<app-footer-component></app-footer-component>